a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  background-color: #333;
  color: #fff;
}

a.nav-link
{
  color: #fff;
}

.container {
  background-color: #333;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
