<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required>

  <label for="birthDate">Birth Date:</label>
  <input type="date" id="birthDate" name="birthDate" required>

  <label for="phoneNumber">Phone Number:</label>
  <input type="tel" id="phoneNumber" name="phoneNumber" required>

  <label for="userName">Username:</label>
  <input type="text" id="userName" name="userName" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Submit</button>
</form>
